@import "tailwindcss";
.loading {
  position: relative;
  display: flex;
  height: 75%;
  align-items: center;
  justify-content: center;
}

.loading-inner {
  height: 2.5rem;
  width: 2.5rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading-inner {
  animation: spin 1s linear infinite;
  border-radius: 0.25rem;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgba(99, 102, 241, var(--tw-border-opacity));
  transition-duration: 300ms;
}
